<!DOCTYPE html>
<head> </head>
<body>
<centre>
<h1> Diceware Password Generator </h1>
<p> Generate high-entropy passwords the easy way! </p>
<h2> Number of Dice Rolls: </h2>
<button onclick="myFunction(event)">2</button>
<button onclick="myFunction(event)">3</button>
<button onclick="myFunction(event)">4</button>
<button onclick="myFunction(event)">5</button>
<button onclick="myFunction(event)">6</button>
<button onclick="myFunction(event)">7</button>
<button onclick="myFunction(event)">8</button>
<br>
<button>Roll dice!</button>
</centre>
</body>
</html>