<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      h1 {
        text-align: center;
      }
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      #container {
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Factorial</title>
    <h1>Factorial</h1>
    <h3>
      <a href="/"> <button>Home</button></a>
      <a href="/diceware"> <button>Diceware</button></a>
      <a href="/fizzbuzz"> <button>Fizzbuzz</button></a>
      <a href="/swapcase"> <button>SwapCase</button></a>
    </h3>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="container">
      <input type="text" id="input" />
      <button id="factorial">Factorial</button>
    </div>
    <p style="font-size: 100px" id="results"></p>
  </body>
  <script>
    $(document).ready(() => {
      let results = document.getElementById("results");
      let BTN = document.getElementById("factorial");
      let input = document.getElementById("input");

      BTN.addEventListener("click", () => {
        alert(input.value);
        let userInput = input.value;

        $.ajax({
          url: "/factorizedata",
          type: "POST",
          contentType: "application/json",
          applicationType: "json",
          data: JSON.stringify({ data: userInput }),
          success: (response) => {
            document.getElementById("results").innerText = response.factorized;
          },
        });
      });
    });
  </script>
</html>
